ENABLE_QCN 1
USE_DYNAMIC_PFC_THRESHOLD 1

PACKET_PAYLOAD_SIZE 1000

TOPOLOGY_FILE /ns-3.19/config/topology96-ll.txt
FLOW_FILE /ns-3.19/mix/flow.txt
TRACE_FILE /ns-3.19/mix/trace.txt
TRACE_OUTPUT_FILE /ns-3.19/mix/mix.tr
FCT_OUTPUT_FILE /ns-3.19/mix/fct.txt
PFC_OUTPUT_FILE /ns-3.19/mix/pfc.txt

SIMULATOR_STOP_TIME 4.00

ALPHA_RESUME_INTERVAL 1
RATE_DECREASE_INTERVAL 4
CLAMP_TARGET_RATE 0
RP_TIMER 900 
EWMA_GAIN 0.00390625
FAST_RECOVERY_TIMES 1
RATE_AI 50Mb/s
RATE_HAI 100Mb/s
MIN_RATE 100Mb/s
DCTCP_RATE_AI 1000Mb/s

ERROR_RATE_PER_LINK 0.0000
L2_CHUNK_SIZE 4000
L2_ACK_INTERVAL 1
L2_BACK_TO_ZERO 0

HAS_WIN 1
GLOBAL_T 1
VAR_WIN 1
FAST_REACT 1
U_TARGET 0.95
MI_THRESH 5
INT_MULTI 1
MULTI_RATE 1
SAMPLE_FEEDBACK 0

RATE_BOUND 1

ACK_HIGH_PRIO 0

LINK_DOWN 0 0 0

ENABLE_TRACE 0


KMAX_MAP 4 25000000000 200 50000000000 200 100000000000 200 40000000000 200 
KMIN_MAP 4 25000000000 5 50000000000 5 100000000000 5 40000000000 5 
PMAX_MAP 4 25000000000 0.01 50000000000 0.01 100000000000 0.01 40000000000 0.01
BUFFER_SIZE 0
QLEN_MON_FILE qlen_mon.txt
QLEN_MON_START 2000000000
QLEN_MON_END 2010000000

APP_START_TIME 0.01
APP_STOP_TIME 100

CC_MODE 3
HPCC_WORKLOAD /ns-3.19/workloads/DCTCP_CDF.txt
LOAD 0.6
FOREGROUND_RATIO 0.1
INCAST_FLOW_SIZE 8000
NUM_BG_FLOWS 500
ENABLE_IRN 0
ENABLE_PFC 0
ENABLE_TLT 0
TLT_MAXBYTES_UIP 500000
FOREGROUND_INCAST_FLOW_PER_HOST 4
IRN_NO_BDPFC 0
RANDOM_SEED 1